{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react-hooks",
    "react",
    "prettier",
    "import",
    "@typescript-eslint"
  ],
  "ignorePatterns": [
    "*.js",
    "*.jsx",
    "node_modules/",
    "serviceWorker.ts",
    "setupTests.ts"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/standard",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "parser": "typescript",
        "semi": false
      }
    ],
    "arrow-spacing": "error",
    "newline-per-chained-call": "error",
    "no-unused-vars": "error",
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "function-call-argument-newline": [
      "error",
      "consistent"
    ],
    "no-multi-spaces": "error",
    "comma-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "key-spacing": [
      "error",
      {
        "beforeColon": false
      }
    ],
    "brace-style": [
      "error",
      "1tbs"
    ],
    "react/default-props-match-prop-types": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "import/no-named-as-default": 0,
    "react/style-prop-object": 0,
    "react/jsx-closing-tag-location": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "quotes": [
      1,
      "single"
    ],
    "jsx-quotes": [
      "warn",
      "prefer-double"
    ],
    "import/order": "error",
    "import/no-unresolved": 0,
    "@typescript-eslint/member-delimiter-style": 0
  }
}